<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="form-group">
      <%= form.label :username %>
      <%= form.text_field :username, autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, autocomplete: "email" %>
    </div>
    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="form-group">
      <%= form.label :role %>
      <%= form.check_box :role%>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
