<h1>Filters</h1>
<%= form_tag(tshirts_path, method: :get) do %>
    <table>
        <tr>
            <td>COLOR</td>
            <td>size</td>
            <td>CHARACTER</td>
        </tr>
        <tr>
        <td>
            <input type = "checkbox" name = "selectall" value = "select all"> select all
            <br>
            <%= check_box_tag :color,"Blue",false %><%= label_tag "Blue"%>
            <br>
            <%= check_box_tag :color,"Black",false %><%= label_tag "Black"%>
            <br>
            <%= check_box_tag :color,"Red",false %><%= label_tag "Red"%>
            <br>
            <%= check_box_tag :color,"White",false %><%= label_tag "White"%>
        </td>
        <td>
            <%= check_box_tag :size,"S",false %><%= label_tag "S"%>
            <br>
            <%= check_box_tag :size,"M",false %><%= label_tag "M"%>
            <br>
            <%= check_box_tag :size,"XS",false %><%= label_tag "XS"%>
            <br>
            <%= check_box_tag :size,"XL",false %><%= label_tag "XL"%>
            <br>
            <%= check_box_tag :size,"XXL",false %><%= label_tag "XXL"%>
            <br>
            <%= check_box_tag :size,"XXXL",false %><%= label_tag "XXXL"%>
            <br>
        </td>
        <td>
            <%= check_box_tag :character,"Iron Man",false %><%= label_tag "Iron Man"%>
            <br>
            <%= check_box_tag :character,"Hulk",false %><%= label_tag "Hulk"%>
             <br>
            <%= check_box_tag :character,"Black Panther",false %><%= label_tag "Black Panther"%>
            <br>
            <%= check_box_tag :character,"Spider Man",false %><%= label_tag "Spider Man"%>
            <br>
            <%= check_box_tag :character,"Captain America",false %><%= label_tag "Captain America"%>
            <br>
            <%= check_box_tag :character,"Avenger",false %><%= label_tag "Avenger"%>
            <br>
        </td>
        </tr>
    </table>
    <div>
        <input type= "submit" value = "submit" class = "custom-link">
    </div>
<% end %>