<div class = "NavBar">
    <div >
        <%= link_to "MarvelShop", root_path, class: "custom link" %>
        |
        <%= link_to "Request box", root_path, class: "custom-link" %>
        |
        <%= link_to "New arrivals", root_path, class: "custom-link" %>
    </div>
    <% if current_page?(root_path) %>
        <div class = "stick-second-right">
            <%= link_to "Orders", root_path, class: "custom-link" %>
            |
            <%= link_to "wishlist", root_path, class: "custom-link" %>
            |
            <%= link_to "Cart", root_path, class: "custom-link" %>
        </div>
    <% end %>

    <nav class = "stick-to-right">
        <% if user_signed_in? %>
            <%= link_to "edit user", edit_user_registration_path, class: "" %>|<%= link_to 'sign out', destroy_user_session_path, :method => :delete, class: "custom link" %>
        <% else %>
            <%= link_to 'sign in', new_user_session_path, class:"custom-link" %> 
            |
            <%= link_to "sign up", new_user_registration_path, class:"custom-link" %>            
        <% end %>
    </nav>
</div>