<p style="color: red"><%= notice %></p>

<h1>
  <% if current_user&.role? == true %>
    <%= link_to "Tshirts",root_path %> 
  |
    <%= link_to "Users", users_path %> 
  <% end %>
</h1>
<div>
  <%= form_tag(tshirts_path, method: :get) do %>
    <%= text_field_tag :character %>
    <%= submit_tag "search" %>
    <%= link_to "filters", filter_path, class: "custom link" %>
  <% end %>
</div>
<% if current_user&.role? == true%>
  <%= link_to "New tshirt", new_tshirt_path %>
<% end %>
<div class ="tshirts">
  <% @tshirts.each do |tshirt| %>
  <div class = "index-column">
    <%= render tshirt %>
    <p>
      <%= link_to "Show this tshirt", tshirt %>
    </p>
  </div>
  <% end %>
</div>
