<h1>Add a review</h1>

<!-- In your view -->
<%= form_tag reviews_path,method: :post do %>
  <div>
    <%= label_tag :review %>
    <%= text_field_tag  :review %>
  </div>
  <div>
    <%= label_tag :picture %>
    <%= file_field_tag :picture %>
  </div>
  <div>
    <%= submit_tag "send review" %>
  </div>
<% end %>
